:root {
  --blueBG: #4375b0;
  --blueGradientBG: linear-gradient(
    180deg,
    rgba(97, 170, 255, 1) 0%,
    rgba(67, 117, 176, 1) 75%
  );
  --vibrantBlueBG: #0077ff;
  --darkGradientBG: linear-gradient(
    180deg,
    rgba(44, 51, 61, 1) 0%,
    rgba(25, 30, 37, 1) 75%
  );
  --turquoiseBG: rgb(0, 176, 196);
  --scrollbarTrack: rgb(25, 27, 38);
  --scrollbarThumb: #555;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background: var(--blueBG);
}

p {
  color: white;
  margin: 0;
  text-align: center;
  font-family: Helvetica;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

img.bgIMG {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

img.back {
  width: 3.5vw;
  height: 3.5vw;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 4;
  cursor: pointer;
  animation: riseLoad 2s ease 0s 1 normal backwards;
}

img.buttonIMG {
  width: 6vw;
  height: 6vw;
  margin-bottom: 20px;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

div.blurBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0);
  backdrop-filter: blur(30px);
  z-index: 3;
}

div.title {
  color: white;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: calc(2vw + 3vh);
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

div.subTitle {
  color: white;
  margin-bottom: 60px;
  text-align: center;
  font-family: Helvetica;
  font-size: calc(0.625vw + 1.1vh);
  animation: riseLoad 1.5s ease 0s 1 normal backwards;
}

div.heading {
  color: white;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: calc(1vw + 2vh);
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vw;
  height: 6vh;
  margin: 0;
  padding: 2px;
  border: none;
  border-radius: 30px;
  font-family: Helvetica;
  font-size: calc(0.625vw + 1.1vh);
  background: var(--darkGradientBG);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition-duration: 0.4s;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

button:hover {
  background: var(--blueGradientBG);
  box-shadow: 0 0 10px var(--blueBG);
  transform: perspective(200px) rotateY(10deg) rotateX(10deg);
}

button.bigCentered {
  width: calc((68.75vh - 200px) / 2);
  height: calc((68.75vh - 200px) / 2);
  font-size: calc(0.7vw + 1.5vh);
  flex-direction: column-reverse;
}

button.bigCentered:hover {
  transform: perspective(200px) rotateY(3deg) rotateX(3deg);
}

div.horizontalLayout {
  display: flex;
  column-gap: 60px;
  align-items: center;
  margin: 30px 0 30px 0;
  width: auto;
  height: auto;
}

@keyframes riseLoad {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbarTrack);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--vibrantBlueBG);
}
