:root {
    --buttonBG: rgb(49, 52, 74);
    --buttonHoverBG: #5e43f3ff;
}

@font-face {
    font-family: GeneralSans;
    src: url("fonts/GeneralSans-Variable.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("fonts/Poppins-Regular.ttf");
}

body {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 98vh;
    margin: 0;
    overflow-x: hidden;
    background-image: url("images/bg.jpg");
}

div.blurBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97vw;
    min-height: 97vh;
    margin-top: auto;
    padding-bottom: 20px;
    background-color: rgba(255, 0, 0, 0);
    backdrop-filter: blur(30px);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

div.mainTitle {
    color: white;
    cursor: default;
    text-align: center;
    font-family: GeneralSans;
    font-size: calc(2vh + 2vw);
    margin-top: calc(20vh - 2vh - 2vw - 1.5rem);
    transition: 0.3s;
    animation: riseLoad 1s ease 0s 1 normal backwards;
}

div.mainTitle:hover {
    color: var(--buttonHoverBG);
    text-shadow: 0 0 10px var(--buttonHoverBG);
    transform: translateY(-10px);
    font-weight: 600;
}

a.bullet {
    color: white;
    cursor: default;
    text-align: center;
    font-family: GeneralSans;
    font-size: 1.5rem;
    text-decoration: none;
    margin-bottom: calc(20vh - 2vh - 2vw - 1.5rem);
    transition: 0.3s;
    animation: riseLoad 1s ease 0s 1 normal backwards;
}

a.bullet:hover {
    text-decoration: underline;
    text-shadow: 0 0 10px var(--buttonHoverBG);
    cursor: pointer;
}

div.blankBullet {
    color: white;
    cursor: default;
    text-align: center;
    font-family: GeneralSans;
    font-size: 1.5rem;
    animation: riseLoad 1.5s ease 0s 1 normal backwards;
}

div.horizontalLayout {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

div.verticalLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

div.horizontalInfobox {
    display: flex;
    justify-content: center;
    width: 80vw;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(30px);
    align-items: center;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

img.mainIMG {
    width: calc(10vh + 10vw);
    height: calc(10vh + 10vw);
    transition: 0.3s;
    animation: riseLoad 1.5s ease 0s 1 normal backwards;
}

img.mainIMG:hover {
    width: calc(10.5vw + 10.5vh);
    height: calc(10.5vw + 10.5vh);
    transform: perspective(200px) rotateY(5deg) rotateX(5deg);
}

img.smallIMG {
    width: 2.5rem;
    margin: 0;
    -webkit-filter: drop-shadow(0 0 0.05rem var(--buttonBG));
    filter: drop-shadow(0 0 0.05rem var(--buttonBG));
    transition: 0.3s;
    animation: riseLoad 1.5s ease 0s 1 normal backwards;
}

img.smallIMG:hover {
    width: 3rem;
    -webkit-filter: drop-shadow(0 0 0.5rem var(--buttonHoverBG));
    filter: drop-shadow(0 0 0.5rem var(--buttonHoverBG));
    transform: perspective(200px) rotateY(20deg) rotateX(20deg);
}

div.footer {
    position: absolute;
    bottom: 10px;
    color: white;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    animation: riseLoad 1s ease 0s 1 normal backwards;
}

div.infoText {
    text-align: center;
    max-width: 60ch;
}

div.iconRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

div.showMobile {
    display: none;
}

a {
    color: white;
}

@keyframes riseLoad {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mainTitle:nth-child(1) {
    animation-delay: 0s;
}

.mainTitle:nth-child(2) {
    animation-delay: 0.1s;
}

.mainTitle:nth-child(3) {
    animation-delay: 0.2s;
}

.mainTitle:nth-child(4) {
    animation-delay: 0.3s;
}

.mainTitle:nth-child(5) {
    animation-delay: 0.4s;
}

::-moz-selection {
    background: var(--buttonHoverBG);
}

::selection {
    background: var(--buttonHoverBG);
}

@media (max-width: 900px) {

    html,
    body {
        overflow-x: hidden;
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    div.blurBox {
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        border-radius: 0;
        justify-content: flex-start;
        overflow: hidden;
    }

    div.mainTitle {
        font-size: 3rem;
    }

    img.mainIMG {
        display: none;
    }

    div.showMobile {
        display: block;
    }

    div.hideMobile {
        display: none;
    }

    div.horizontalInfobox {
        width: 90vw;
        padding: 24px;
    }

    div.infoText {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 1rem;
    }
}