:root {
  --buttonHoverBG: #5e43f3ff;
}

@font-face {
  font-family: GeneralSans;
  src: url("fonts/GeneralSans-Variable.ttf");
}

body {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-image: url("images/bg.jpg");
}

div.blurBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 97vw;
  height: 97vh;
  background-color: rgba(255, 0, 0, 0);
  backdrop-filter: blur(30px);
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

div.mainTitle {
  color: white;
  cursor: default;
  text-align: center;
  font-family: GeneralSans;
  font-size: calc(2vh + 2vw);
  transition: 0.3s;
  animation: riseLoad 1.7s ease 0s 1 normal backwards;
}

div.mainTitle:hover {
  color: var(--buttonHoverBG);
  text-shadow: 0 0 10px var(--buttonHoverBG);
  transform: translateY(-10px);
  font-weight: 600;
}

a.bullet {
  color: white;
  cursor: default;
  text-align: center;
  font-family: GeneralSans;
  font-size: calc(0.8vh + 0.8vw);
  text-decoration: none;
  transition: 0.3s;
  animation: riseLoad 1.5s ease 0s 1 normal backwards;
}

a.bullet:hover {
  text-decoration: underline;
  text-shadow: 0 0 10px var(--buttonHoverBG);
  cursor: pointer;
}

div.blankBullet {
  color: white;
  cursor: default;
  text-align: center;
  font-family: GeneralSans;
  font-size: calc(0.8vh + 0.8vw);
  animation: riseLoad 1.5s ease 0s 1 normal backwards;
}

div.horizontalLayout {
  display: flex;
  justify-content: center;
  width: min-content;
  column-gap: 20px;
}

div.hidden {
  color: darkslateblue;
  font-weight: bolder;
  opacity: 0;
  animation: none;
}

div.hiddenBox {
  will-change: clip-path;
  opacity: 0;
}

.hiddenBox.boxReveal {
  background-color: white;
  animation: boxReveal 1.2s ease-in-out normal forwards;
}

@keyframes riseLoad {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes boxReveal {
  0% {
    clip-path: polygon(0 0, 10% 0, 10% 100%, 0 100%);
  }

  50% {
    clip-path: polygon(95% 0, 100% 0, 100% 100%, 95% 100%);
  }

  80% {
    clip-path: polygon(0 0, 5% 0, 5% 100%, 0 100%);
    animation-timing-function: ease-out;
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    animation-timing-function: ease-in;
  }
}

.mainTitle:nth-child(1) {
  animation-delay: 0s;
}

.mainTitle:nth-child(2) {
  animation-delay: 0.1s;
}

.mainTitle:nth-child(3) {
  animation-delay: 0.2s;
}

.mainTitle:nth-child(4) {
  animation-delay: 0.3s;
}

.mainTitle:nth-child(5) {
  animation-delay: 0.4s;
}

.mainTitle:nth-child(6) {
  animation-delay: 0.5s;
}

.mainTitle:nth-child(7) {
  animation-delay: 0.6s;
}

::-moz-selection {
  background: var(--buttonGithubHoverBG);
}

::selection {
  background: var(--buttonGithubHoverBG);
}

@media (max-width: 900px) {
  div.mainTitle {
    font-size: 2.5rem;
  }

  a.bullet,
  div.blankBullet {
    font-size: 1rem;
  }

  div.blurBox {
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    border-radius: 0;
    overflow: hidden;
  }

}