:root {
  --scrollbarTrack: rgb(25, 27, 38);
  --scrollbarThumb: #555;
  --buttonBG: rgb(49, 52, 74);
  --buttonHoverBG: #5e43f3ff;
  --buttonGithubBG: #333;
  --buttonReplitBG: #0e1525;
  --buttonReplitHoverShadow: #f26207;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: Poppins;
  src: url("fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: GeneralSans;
  src: url("fonts/GeneralSans-Variable.ttf");
}

body {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 98vh;
  overflow-x: hidden;
  background-image: url("images/bg.jpg");
}

div.blurBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 97vw;
  min-height: 97vh;
  margin-top: auto;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(30px);
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

div.mainTitle {
  color: white;
  cursor: default;
  text-align: center;
  font-family: GeneralSans;
  font-size: calc(2vh + 2vw);
  margin-top: calc(20vh - 2vh - 2vw - 1.5rem);
  transition: 0.3s;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

div.mainTitle:hover {
  color: var(--buttonHoverBG);
  text-shadow: 0 0 10px var(--buttonHoverBG);
  transform: translateY(-10px);
  font-weight: 600;
}

div.bullet {
  color: white;
  cursor: default;
  text-align: center;
  font-family: GeneralSans;
  font-size: 1.5rem;
  margin-bottom: calc(20vh - 2vh - 2vw - 1.5rem);
  transition: 0.3s;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

div.bullet:hover {
  text-decoration: underline;
  text-shadow: 0 0 10px var(--buttonHoverBG);
  cursor: pointer;
}

div.footer {
  position: absolute;
  bottom: 10px;
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

div.projectTitle {
  color: white;
  cursor: default;
  text-align: center;
  font-family: Poppins;
  font-size: 2rem;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

div.projectDetail {
  color: white;
  cursor: default;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  margin: 10px 0 20px 0;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

div.postDetail {
  color: white;
  text-shadow: 0 0 10px white;
  cursor: default;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  margin: 20px;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

div.horizontalLayout {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

div.verticalLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 20px;
}

div.projectLayout {
  width: 20vw;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(30px);
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div.projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

img.projectIMG {
  width: calc(6vw + 9vh);
  height: calc(6vw + 9vh);
  border-radius: 25px;
  transition: 0.3s;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

img.projectIMG:hover {
  width: calc(7vw + 10vh);
  height: calc(7vw + 10vh);
  transform: perspective(200px) rotateY(5deg) rotateX(5deg);
}

img.buttonIMG {
  background-color: var(--buttonBG);
  height: calc(1vw + 2vh);
  padding: 12px;
  border-radius: 30px;
  transition: 0.3s;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

img.buttonIMG:hover {
  cursor: pointer;
  background-color: var(--buttonHoverBG);
  box-shadow: 0 0 10px var(--buttonHoverBG);
  transform: perspective(100px) rotateY(15deg) rotateX(15deg);
}

img.github {
  background-color: var(--buttonGithubBG);
  color: white;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

img.github:hover {
  cursor: pointer;
  background-color: var(--buttonHoverBG);
  box-shadow: 0 0 10px var(--buttonHoverBG);
}

img.replit {
  background-color: var(--buttonReplitBG);
  color: white;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

img.replit:hover {
  cursor: pointer;
  background-color: var(--buttonHoverBG);
  box-shadow: 0 0 10px var(--buttonReplitHoverShadow);
}

a {
  color: white;
}

@keyframes riseLoad {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mainTitle:nth-child(1) {
  animation-delay: 0s;
}

.mainTitle:nth-child(2) {
  animation-delay: 0.1s;
}

.mainTitle:nth-child(3) {
  animation-delay: 0.2s;
}

.mainTitle:nth-child(4) {
  animation-delay: 0.3s;
}

.mainTitle:nth-child(5) {
  animation-delay: 0.4s;
}

.mainTitle:nth-child(6) {
  animation-delay: 0.5s;
}

.mainTitle:nth-child(7) {
  animation-delay: 0.6s;
}

.mainTitle:nth-child(8) {
  animation-delay: 0.7s;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbarTrack);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--buttonHoverBG);
  border-radius: 30px;
}

::-moz-selection {
  background: var(--buttonHoverBG);
}

::selection {
  background: var(--buttonHoverBG);
}