:root {
  --blueBG: #4375b0;
  --vibrantBlueBG: #0077ff;
  --darkBG: #191e25;
  --turquoiseBG: rgb(0, 176, 196);
  --scrollbarTrack: rgb(25, 27, 38);
  --scrollbarThumb: #555;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: var(--blueBG);
}

p {
  color: white;
  margin: 0;
  text-align: center;
  font-family: Helvetica;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

img.bgIMG {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

img.back {
  width: 3.5vw;
  height: 3.5vw;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 4;
  cursor: pointer;
  animation: riseLoad 2s ease 0s 1 normal backwards;
}

div.blurBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0);
  backdrop-filter: blur(30px);
  z-index: 3;
}

div.textbox,
div.miniTextbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19vw;
  height: 9vh;
  margin-bottom: 10px;
  border: none;
  border-radius: 30px;
  font-family: Helvetica;
  font-size: calc(1vw + 1.5vh);
  background: var(--darkBG);
  color: white;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  outline: none;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

div.miniTextbox {
  width: 28vw;
  height: 5vh;
  font-size: 30px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9vw;
  height: 9vh;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 30px;
  font-family: Helvetica;
  font-size: calc(1vw + 1.5vh);
  background: var(--darkBG);
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
  z-index: 4;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

button:hover {
  background: white;
  color: black;
  box-shadow: 0 0 10px black;
  transform: perspective(200px) rotateY(5deg) rotateX(5deg);
}

button.special {
  background: var(--vibrantBlueBG);
}

button.special:hover {
  background: var(--turquoiseBG);
  box-shadow: 0 0 10px var(--turquoiseBG);
}

.title {
  color: white;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: calc(2vw + 3vh);
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

div.horizontalLayout {
  display: flex;
  justify-content: space-evenly;
  column-gap: 10px;
  align-items: center;
  margin: 5px;
  width: auto;
  height: auto;
}

div.horizontalCenter {
  margin-left: auto;
  margin-right: auto;
}

.historyList {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 56vh;
  padding: 0;
  border-radius: 30px;
  background: var(--darkBG);
  text-align: center;
  overflow-y: auto;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

.historyList ol {
  width: 27vw;
  padding: 0;
  margin: 0;
  list-style: none;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

ol li {
  color: white;
  margin: 20px;
  list-style: none;
  font-family: Helvetica;
  font-size: 40px;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

@keyframes riseLoad {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbarTrack);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--vibrantBlueBG);
}
