:root {
  --blueBG: #4375b0;
  --vibrantBlueBG: #0077ff;
  --darkGradientBG: linear-gradient(
    180deg,
    rgba(44, 51, 61, 1) 0%,
    rgba(25, 30, 37, 1) 75%
  );
  --greenGradientBG: linear-gradient(
    180deg,
    rgba(119, 221, 119, 1) 0%,
    rgba(80, 150, 80, 1) 75%
  );
  --greenBG: #77dd77;
  --yellowGradientBG: linear-gradient(
    180deg,
    rgba(253, 253, 150, 1) 0%,
    rgba(174, 174, 103, 1) 75%
  );
  --darkYellowBG: #bebe0a;
  --redGradientBG: linear-gradient(
    180deg,
    rgba(255, 105, 97, 1) 0%,
    rgba(171, 71, 66, 1) 75%
  );
  --redBG: #ff6961;
  --turquoiseGradientBG: linear-gradient(
    180deg,
    rgba(0, 176, 196, 1) 0%,
    rgba(6, 120, 133, 1) 75%
  );
  --turquoiseBG: rgb(0, 176, 196);
  --scrollbarTrack: rgb(25, 27, 38);
  --scrollbarThumb: #555;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: var(--blueBG);
}

p {
  color: white;
  margin: 0;
  text-align: center;
  font-family: Helvetica;
  animation: riseLoad 5s ease 0s 1 normal backwards;
}

p.incorrect {
  display: none;
  margin-bottom: calc(32vh - (1.425vw + 1.9vh) - (4.392vw + 8.351vh));
  font-size: calc(1.425vw + 1.9vh);
  -webkit-filter: (0 0 10px var(--redBG));
  filter: drop-shadow(0 0 10px var(--redBG));
}

p.correct {
  display: none;
  margin-bottom: calc(32vh - (1.425vw + 1.9vh) - (4.392vw + 8.351vh));
  font-size: calc(1.425vw + 1.9vh);
  -webkit-filter: (0 0 10px var(--greenBG));
  filter: drop-shadow(0 0 10px var(--greenBG));
}

img.bgIMG {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

img.incorrect {
  display: none;
  width: calc(4.392vw + 8.351vh);
  height: calc(4.392vw + 8.351vh);
  margin: auto;
  -webkit-filter: (0 0 10px var(--redBG));
  filter: drop-shadow(0 0 10px var(--redBG));
  animation: riseLoad 3s ease 0s 1 normal backwards;
}

img.correct {
  display: none;
  width: calc(4.392vw + 8.351vh);
  height: calc(4.392vw + 8.351vh);
  margin: auto;
  -webkit-filter: (0 0 10px var(--greenBG));
  filter: drop-shadow(0 0 10px var(--greenBG));
  animation: riseLoad 3s ease 0s 1 normal backwards;
}

img.back {
  width: 3.5vw;
  height: 3.5vw;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 4;
  cursor: pointer;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

div.blurBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0);
  backdrop-filter: blur(30px);
  z-index: 3;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2px;
  border: none;
  border-radius: 10px;
  font-family: Helvetica;
  font-size: calc(1.025vw + 1.5vh);
  background: var(--darkGradientBG);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition-duration: 0.4s;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

button:hover {
  background: var(--vibrantBlueBG);
  font-weight: bold;
  box-shadow: 0 0 10px var(--blueBG);
}

button.answer1 {
  display: block;
  background: var(--greenGradientBG);
}

button.answer1:hover {
  display: block;
  background: var(--vibrantBlueBG);
}

button.answer2 {
  display: block;
  background: var(--redGradientBG);
}

button.answer2:hover {
  display: block;
  background: var(--vibrantBlueBG);
}

button.answer3 {
  display: block;
  background: var(--yellowGradientBG);
}

button.answer3:hover {
  display: block;
  background: var(--vibrantBlueBG);
}

button.answer4 {
  display: block;
  background: var(--turquoiseGradientBG);
}

button.answer4:hover {
  display: block;
  background: var(--vibrantBlueBG);
}

button.nextQuestion {
  display: none;
}

div.title {
  color: white;
  margin-top: 60px;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: calc(2vw + 3vh);
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

div.question {
  display: block;
  margin-top: auto;
}

div.subTitle {
  color: white;
  margin-bottom: 60px;
  text-align: center;
  font-family: Helvetica;
  font-size: calc(0.625vw + 1.1vh);
  animation: riseLoad 1.5s ease 0s 1 normal backwards;
}

div.horizontalLayout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  align-content: center;
  position: relative;
  width: auto;
  height: auto;
  margin: 0;
}

div.answerLayout {
  column-gap: calc(1vw + 1vh);
  margin: 10px;
  width: 90%;
  height: 20%;
}

div.questionBG {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  height: 70vh;
  background: var(--darkGradientBG);
  border-radius: 30px;
  animation: riseLoad 1s ease 0s 1 normal backwards;
}

@keyframes riseLoad {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbarTrack);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--vibrantBlueBG);
}
